<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">Comprando</h5>
        <form>
            <div class="form-group">
                <label for="idUsuario">ID de Usuario</label>
                <input type="number" required #idUsuario="ngModel" [(ngModel)]="compra.idUsuario" class="form-control" name="idUsuario" id="idUsuario" placeholder="ID de usuario">
            </div>
            <!-- <label>Moneda a comprar</label> <br>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="moneda" [(ngModel)]="compra.moneda" id="dolar" value="dolar" checked>
                <label class="form-check-label" for="dolar">
                Dólares
              </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="moneda" [(ngModel)]="compra.moneda" id="real" value="real">
                <label class="form-check-label" for="real">
                Real Brasileño
              </label>
            </div>
            <br><br>
            <div class="form-group">
                <label for="monto">Monto</label>
                <input type="number" class="form-control" name="monto" required [(ngModel)]="compra.monto" id="monto" placeholder="Ingresa el monto a comprar">
            </div> -->
            <br>
            <div class="d-flex flex-column">
                <button type="submit" class="btn btn-primary" (click)="saveCompra()">Efectuar compra</button>
            </div>
            <ngx-spinner name="sp0" [fullScreen]="false" type="square-jelly-box" size="medium"></ngx-spinner>
        </form>


    </div>
</div>
